<section class="text-center mb-5 rounded bg-success-subtle">
  <h2 class="text-primary fw-bold display-4">DIU Token Register-Admin</h2>
</section>
<div class="position-relative" style="height: 70vh; width: 100%;">

  <img 
    src="assets/image.jpg" 
    alt="My Image" 
    class="img-fluid w-100 h-100" 
    style="object-fit: cover; position: absolute; top: 0; left: 0; z-index: 0;"
  >

  <!-- Table Overlaid on Image -->
  <div class="container position-absolute top-50 start-50 translate-middle" style="z-index: 1; background-color: transparent;">
    <table class="table table-bordered text-white" style="background-color: rgba(0, 0, 0, 0.6);">
      <thead>
        <tr>
          <th class="text-white"  style="background-color: transparent; ">Employ-Num</th>
          <th class="text-white"  style="background-color: transparent; ">Student ID</th>
          <th class="text-white"  style="background-color: transparent; ">Token Number</th>
          <th class="text-white"  style="background-color: transparent; ">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td  class="text-white"style="background-color: transparent; ">1</td>
          <td  class="text-white"style="background-color: transparent; ">{{id1}}</td>
          <td  class="text-white"  style="background-color: transparent; ">{{token1}}</td>
          <td class="text-white"  style="background-color: transparent; " (click)="on1()"><button class="btn btn-success btn-sm">Done</button></td>
        </tr>
        <tr> 
          <td  class="text-white"style="background-color: transparent; ">2</td>
          <td  class="text-white"style="background-color: transparent; ">{{id2}}</td>
          <td  class="text-white"  style="background-color: transparent; ">{{token2}}</td>
          <td class="text-white"  style="background-color: transparent; "(click)="on2()"><button class="btn btn-success btn-sm">Done</button></td>
        </tr>
        <tr>
           <td  class="text-white"style="background-color: transparent; ">3</td>
          <td  class="text-white"style="background-color: transparent; " >{{id3}}</td>
          <td  class="text-white"  style="background-color: transparent; ">{{token3}}</td>
          <td class="text-white"  style="background-color: transparent; " (click)="on3()"><button class="btn btn-success btn-sm">Done</button></td>
        </tr>
        <tr>
          <td  class="text-white"style="background-color: transparent; ">4</td>
          <td  class="text-white"style="background-color: transparent; ">{{id4}}</td>
          <td  class="text-white"  style="background-color: transparent; ">{{token4}}</td>
          <td class="text-white"  style="background-color: transparent; " (click)="on4()"><button class="btn btn-success btn-sm">Done</button></td>
        </tr>
        <tr>
           <td  class="text-white"style="background-color: transparent; ">5</td>
          <td  class="text-white"style="background-color: transparent; ">{{id5}}</td>
          <td  class="text-white"  style="background-color: transparent; ">{{token5}}</td>
          <td class="text-white"  style="background-color: transparent; " (click)="on5()"><button class="btn btn-success btn-sm">Done</button></td>
        </tr>
        
      </tbody> 
    </table>
  </div>

</div>



  







